@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: rgb(114, 217, 220);
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
.title{
font-size: 80px;
padding-left: 400px;
color: #87e9ff;
}

.card {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  width: 700px;
  height: 400px;
  margin-right: 550px;
  margin-top:100px;
}

.card p {
  color: #87e9ff;
  font-size: 26px;
  font-family: 'cairo',sans-serif;
  margin-right: 20px;
}

.intro{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 150px;
            margin-right: 400px;
            font-family: 'cairo',sans-serif;
}

.icons a img {
 width: 50px;
 height:50px;
}
.icons{
  display: flex;
  justify-content: center;
  gap:20px;
  margin-top: 27px;
}

body {
  background-image: url("../backgrounds/1920x1080-554065-sheikh-zayed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'cairo',sans-serif;
  direction: rtl;
}
