@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #87e9ff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
.navbar a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: rgb(114, 217, 220);
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
html {
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  width: 100%;
  background-color: royalblue;
}
#sec-2 {
  background-color: black;
}
#sec-3 {
  background-color: yellowgreen;
}
#sec-4 {
  background-color: crimson;
}

.scroll-top {
  height: 60px;
  width: 60px;
  background-color:#023e7d;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
  /* hover effect default */
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  /* for centering the icon */
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-top svg {
  width: 50%;
  color:#a5d1fd;
  pointer-events: none;
}

.scroll-top:hover {
  transform: scale(1);
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/** player **/
.player {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: sticky;
  z-index: 1;
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(10px);
  margin: 20px auto;
  margin-top: 100px;
}
.player .ayah {
  padding: 10px 0;
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-family: 'Cairo', sans-serif;
}
.player audio {
  width: 100%;
  height: 40px;
  margin: 15px 0;
}
.player .buttons {
  display: flex;
  justify-content: space-around;
}
.buttons .icon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #023e7d;
  font-size: 20px;
  cursor: pointer;
}

.surahs {
  counter-reset: surah-counter; /* Initialize the counter for surahs */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the surahs */
}

.surahs > div {
  width: 500px; /* Set the width to 500px */
  color: #7fe7ff;
  background: rgba(255, 255, 255, 0.1); 
  border: 2px solid rgba(255, 255, 255, 0.2); 
  border-radius: 10px; /* Rounded corners like the player */
  padding: 10px 20px; /* Padding for better spacing */
  margin-bottom: 10px; /* Margin for spacing between items */
  font-family: 'Cairo', sans-serif; /* Applying Cairo font */
  font-size: 20px; /* Font size adjustment */
  display: flex; /* To align items within div */
  align-items: center; /* Centering items vertically */
  justify-content: space-between; /* Space between elements */
  cursor: pointer; /* Cursor pointer to indicate clickable */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  position: relative; /* Needed for number positioning */
  counter-increment: surah-counter; /* Increment the counter for each surah */
}

.surahs > div::before {
  content: counter(surah-counter); /* Display the counter's value */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0 15px; /* Space between Arabic and English text */
  font-size: 20px;
  color: #7fe7ff;
}

.surahs > div:hover {
  background-color: #40a8bf; /* Background color on hover */
  color: #fff; /* Text color on hover */
}

.surahs > div:hover::before {
  background-color: #fff; /* Background color on hover */
  color: #023e7d; /* Text color on hover */
}

.surahs > div p {
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.surahs > div p:first-child {
  margin-right: 0px; /* Push the Arabic text to the right */
}

.surahs > div p:last-child {
  margin-left:0px; /* Push the English text to the left */
}

#style-8::-webkit-scrollbar-track {
  border: 1px solid rgb(93, 117, 255);
  background-color: #9be3ff;
}

#style-8::-webkit-scrollbar {
  width: 10px;
  background-color: #93ceff;
}

* {
  scrollbar-color: #294a66 #7cbcf0;
}
#style-8::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body {
  background-image: url("../backgrounds/1920x1080-554065-sheikh-zayed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}
